<launch>
    <arg name="camera_param_file" default="$(find line_event_tracker)/param/gen3_iit.yaml" />
    <arg name="tracker_param_file" default="$(find line_event_tracker)/param/three_lines_iit.yaml" />
    <arg name="bag_start_time" default="1733421681.99" />
    <node name="line_event_tracker" pkg="line_event_tracker" type="line_event_tracker_node" output="screen">
        <!-- Tracker parameters -->
        <rosparam file="$(arg tracker_param_file)" />

        <!-- Camera parameters -->
        <rosparam file="$(arg camera_param_file)" />

        <param name="bag_start_time" value="$(arg bag_start_time)" />

        <remap from="events" to="/dvs/events" />
        <remap from="lines" to="/line_events_tracker_lines" />
    </node>
</launch>
